.App {
  background: #E5E5E5;
  min-height: 100vh;
}

/* Header starts */ 
.App-header {
  display: grid;
  grid-template-columns: 0.5fr 10fr;
  background-color: #0064EB;
  height: 72px;
  border-bottom: 1px solid #D4D8DD;
}

.App-logo {
  height: 40px;
  width: 41px;
  margin-left: 50%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.search-form {
  height: 40px;
  width: 35%;
  margin-left: 22px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 6px;
  background: white;
}

.search-input {
  height: 24px;
  width: 75%;
  margin-left: 14px;
  margin-top: 8px;
  padding-left: 30px;
  background: url("/src/img/loupe-ico.svg") no-repeat left center;
  background-size: 14px;
  border: 0;
  font-weight: normal;
  font-size: 14px;
  color: black;
  outline: none;
}

@media (max-width: 1280px) {
  .search-form {
    width: 50%;
  }
}

@media (max-width: 650px) {
  .App-logo {
    margin-left: 30%;
  }

  .search-form {
    width: 80%;
  }
}
/* Header ends */

/* Main starts */
.App-main-conteiner {
  min-height: 100%;
  max-width: 100%;
  padding-top: 39px;
  padding-left: 57px;
  padding-right: 57px;
}

a {
  text-decoration: none;
}

/* State starts */
.state-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
}

.state-hint {
  width: 210px;
  height: 196px;
}

.state-ico {
  margin-left: 73px;
  margin-top: 23px;
  margin-bottom: 47px;
  width: 64px;
  height: 64px;

}

.state-text {
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
}
/* State ends */

/* User wrapper starts */
.User-wrapper {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-column-gap: 10% ;
}

/* User info starts */
.User-avatar {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.User-name {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  color: black;
  margin-top: 29px 
}

.User-login {
  font-size: 18px;
  margin-top: 12px;
}

.User-follow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 29px;
}

.User-followers {
  padding-left: 32px;
  background: url(/src/img/followers-ico.svg) no-repeat left center;
}

.User-following {
  padding-left: 32px;
  background: url(/src/img/following-ico.svg) no-repeat left center;
}
/* User info ends */

/* Repos info starts */
.Repos-amount {
  font-weight: 600;
  font-size: 32px;
  color: black;
}

.Repos-list {
  margin-top: 29px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 24px;
}

.Repo-unit {
  margin: 0 0;
  padding: 24px 32px;
  list-style-type: none;
  background-color: white;
  border-radius: 6px;
}

.Repo-name {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 12px;
}

.Repo-description {
  font-weight: normal;
  font-size: 16px;
  color: black;
}
/* Repos info ends */

/* Pagination starts */
.pagination {
  height: 25px;
  min-width: 50%;
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

.active {
  padding-top: 5px;
  text-align: center;
  width: 21px;
  height: 20px;
  background: #0064EB;
  border-radius: 3px;
  color:white
  
}

/* Pagination ends */

/* User wrapper ends */

/* Main ends */