.App {
  background: #E5E5E5;
}

/* Header starts */ 
.App-header {
  
  display: grid;
  grid-template-columns: 82px 1fr;
  background-color: #0064EB;
  height: 72px;
  border-bottom: 1px solid #D4D8DD;
}

.App-logo {
  height: 40px;
  width: 41px;
  margin-left: 41px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.search-form {
  height: 40px;
  width: 500px;
  margin-left: 22px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 6px;
  background: white;
}

.search-input {
  height: 24px;
  width: 256px;
  margin-left: 14px;
  margin-top: 8px;
  padding-left: 30px;
  background: url("/src/img/loupe-ico.svg") no-repeat left center;
  background-size: 14px;
  border: 0;
  font-weight: normal;
  font-size: 14px;
  color: black;
  outline: none;
}
/* Header ends */

/* Main starts */
.App-main {  
  height: 100vh;
}

a {
  text-decoration: none;
}

/* State starts */
.state-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
}

.state-hint {
  width: 210px;
  height: 196px;
}

.state-ico {
  margin-left: 73px;
  margin-top: 23px;
  margin-bottom: 47px;
  width: 64px;
  height: 64px;

}

.state-text {
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
}
/* State ends */

/* User wrapper starts */
.User-wrapper {
  display: grid;
  grid-template-columns: 433px 1fr;
}

/* User info starts */
.User-info {
  padding-left: 57px;
  padding-top: 39px;
}

.User-avatar {
  height: 280px;
  width: 280px;
  border-radius: 140px;
}

.User-name {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  color: black;
  margin-top: 29px 
}

.User-login {
  font-size: 18px;
  margin-top: 12px;
}

.User-follow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 29px;
}

.User-followers {
  padding-left: 32px;
  background: url(/src/img/followers-ico.svg) no-repeat left center;
}

.User-following {
  padding-left: 32px;
  background: url(/src/img/following-ico.svg) no-repeat left center;
}
/* User info ends */

/* Repos info starts */

/* Repos info ends */

/* Pagination starts */

/* Pagination ends */

/* User wrapper ends */

/* Main ends */